.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.dd-logo {
  width: 48px;
}

.wallet-info {
  display: flex;
  background: black;
  border-radius: 16px;
  padding: 1px 20px;
  height: 99%;
  margin-top: 10px;
}

.wallet-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: -webkit-linear-gradient(left, #373b44, #4286f4);
  background-size: 400% 400%;
  animation: gradient-animation 16s ease infinite;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #434343;
  transform:scale(1);
  transition-timing-function: ease-in-out;
  transition-delay: .05s;
  transition-duration: .2s;
}

.cta-button:hover {
  transform:scale(1.05);
  transition-timing-function: ease-in-out;
  transition-delay: .05s;
  transition-duration: .1s;
}


.connect-wallet-container {
  display: flex;
  flex-direction: column;
}

.connect-wallet-container img {
  padding-bottom: 20px;
}

.connect-wallet-button {
  background-image: linear-gradient(
    to right,
    white 0%,
    #aaaaaa 100%,
  );
  background-size: 400% 400%;
  animation: gradient-animation 4s ease infinite;
  margin-top: 20px;
}

.mint-button {
  background: -webkit-linear-gradient(left, #8000d6, #fc3bd2);
  font-size: 18px;
  background-size: 400% 400%;
  animation: gradient-animation 4s ease-in-out infinite;
  margin: 10px;
  border-radius: 20px;
  padding: 0px 2rem;
  color: white;
}

.mint-button:disabled{
  background: #550072;
  color: rgb(209, 209, 209);
  cursor: not-allowed;
}

.form-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

input{
  border: 0;
  border-radius: 8px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  width: 300px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: center;
}

input::placeholder {
  color: gray;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.first-row{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mints {
  margin-top: 40px;;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  /* margin-top: 20px; */
}
.mint-container {
  margin-top: 0px;
}

.mint-list {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

.mint-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 15px;
  margin: 10px 10px;
  font-size: 16px;
  /* background-color: #c4b7fa; */
  background-color: white;
  color: black;
  min-width: 150px;
  max-width: fit-content;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.2);
}

.mint-item button {
  border: 0;
  background-color: inherit;
  font-size: inherit;
}

.mint-info-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  max-width: 300px;
}

.mint-info-row input{
  border: 0;
  border-radius: 8px;
  background-color: black;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  width: 300px;
  margin-bottom: 10px;
  padding: 5px 10px;
  text-align: start;
}


/* Different background-colour for every nth mint-item */
/* .mint-item:nth-child(2n) {
  background-color: lightblue;
}

.mint-item:nth-child(3n) {
  background-color: lightpink;
}

.mint-item:nth-child(5n) {
  background-color: lightgreen;
} */

/* .mint-item {
  background: linear-gradient(to right bottom, rgb(34, 193, 195) , rgba(251, 215, 134, .9) 55%, rgb(247, 121, 125));
} */

.link{
  color: black;
  text-decoration: none;
}

.underlined{
  text-decoration: underline;
}

.underlined:hover{
  cursor: pointer;
}


/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}